<h2>Регистрация нового пользователя</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="row">
    <div class="form-group col-sm-6">
      <%= f.label :email %>
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-envelope"></span>
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: t('placeholder.email'), require: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-6">
      <%= f.label :name %>
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-user"></span>
        </div>
        <%= f.text_field :name, class: 'form-control', placeholder: t('placeholder.name'), require: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-6">
      <%= f.label :password %>
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-lock"></span>
        </div>
        <%= f.password_field :password, autocomplete: "new-password",
                             class: "form-control", placeholder: t('placeholder.password'), minlength: @minimum_password_length, require: true %>
      </div>
      <% if @minimum_password_length %>
        <small class="form-text text-muted"><%= I18n.t :password_count, count: @minimum_password_length %></small>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-6">
      <%= f.label :password_confirmation %><br />
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-lock"></span>
        </div>
        <%= f.password_field :password_confirmation, autocomplete: "new-password",
                             class: "form-control", placeholder: t('placeholder.password_confirmation'), minlength: @minimum_password_length, require: true %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit t('actions.register'), class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
